body {
  background-color: #333333;
}

.main {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h1 {
  color: #76F5AF;
  font-size: 3.75rem;
  display: flex;
  justify-content: center;
  font-family: "Playwrite NO", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 20%;
}

#player1,
#player2 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  width: 150px;
  height: 50px;
  color: #76F5AF;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-dice{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
p{
  position: relative;
  left: 30px;
}
.img1,
.img2 {
  width: 20px;
  height: 20px;
}

.www{
  font-family: "Playwrite US Trad Guides", cursive;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  
 position: absolute;
  top: 89%;
  left: 43%;
 gap: 5px;
}